<h1>Listing inquiries</h1>

<table id="inquiries-table">
  <tr>
    <th>Name</th>
    <th>Businesstype</th>
    <th>Category</th>
    <th>Applicationtype</th>
    <th>Applicationbudget</th>
    <th>Applicationcontract</th>
    <th>Trainingformat</th>
    <th>Trainingtopic</th>
    <th>Traininggroup size</th>
    <th>Discussiontopic</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Contactpreference</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Inquiry</a>