.main-logo img
{
  background-color: #fff;
  padding: 8px;
  border: solid 4px #9bbac3;
}

.main-logo H2
{
  display: inline;
  font-size: 5.2em;
  margin-left: 12px;
  font-family: 'Goudy Bookletter 1911', Times, serif;
  color: #665d51;
  text-shadow: 4px 4px 4px #d1c5a4;
  vertical-align: top;
}

.footer
{
  color: #8e9c6d; 
  text-align: center;
}

.home-callout
{
  border: solid 1px #665d51; 
  background-color: #dff5ab; 
  padding: 4px;
}

.form-list{
  list-style-type: none;
}

.content-div{
  padding: 4px;
  margin: 2px 0 8px 0;
}

.location-list {
	list-style: none;
}

.location-list li{
  margin-bottom: 10px;
}

.post-list {
	list-style: none;
}

.name{
	font-weight: bold;
}

div.topright{
  display:block;
  position:absolute;
  top: 0;
  right: 0;
  background:#eee;
  border:1px solid #ddd;
}
