.footer
{
  color: #459e00; 
  text-align: center;
}

.home-callout
{
  border: solid 1px #459e00; 
  background-color: #d7ffb7; 
  padding: 4px;
}

.location-list {
	list-style: none;
}

.name{
	font-weight: bold;
}