.footer
{
  color: #459e00; 
  text-align: center;
}

.home-callout
{
  border: solid 1px #459e00; 
  background-color: #d7ffb7; 
  padding: 4px;
}

.form-list{
  list-style-type: none;
}

.content-div{
  padding: 4px;
  margin: 2px 0 8px 0;
}

.location-list {
	list-style: none;
}

.post-list {
	list-style: none;
}

.name{
	font-weight: bold;
}

div.topright{
  display:block;
  position:absolute;
  top: 0;
  right: 0;
  background:#eee;
  border:1px solid #ddd;
}
