#post
  %h1.title
    About Code and Coffee
  #entry
    %p Code and Coffee is an informal get together to write some code Thursday morning. There are no requirements other than the willingness to sit down, pair up, and learn something new. We're going with mornings because the evenings are full enough as it is. Why add to the chaos of user groups, soccer games, and lawn mowing?
    %p If you're interested in joining in, just show up. No invited needed, you don't need to RSVP, you just need a laptop. Coffee not provided, but it's just a few steps away. ;)
    
    
