#tab-wrapper.prepend-1.span-14.last
  .ui-widget-content.ui-corner-all.content-div
    #tab-banner-image
      = image_tag("stormtroopers.png", :alt => "These aren't the droids we're looking for?")
    %h2 Email Sent!
    %p You message has been delivered to a squad of Lego Stormtroopers who will take a break from their droid search to find you an answer. You should expect a prompt reply because, let's face it, they aren't gonna find those droids.
    %p
      %a{ :href => "index" } Return to the Code &amp; Coffee home page
