#tab-wrapper.prepend-1.span-14.last
  .ui-widget-content.ui-corner-all.content-div
    #tab-banner-image
      = image_tag("stormtroopers.png", :alt => "Those aren't the droids I'm looking for?")
    %h2 Email Sent!
    %p Your email has been delivered to a squadron of Lego Stormtroopers. They will take time from their droid search to reply to your message. You should expect a prompt reply because, let's face it, they're not gonna find those droids...
    %p
      %a{:href => "index"} Return to the Code &amp; Coffee home page 
      
