#tab-wrapper.prepend-1.span-14.last
  #tabs
    %ul
      %li
        %a{:href => "#tabs-1"} Home
      %li
        %a{:href => "#tabs-2"} Locations
      %li
        %a{:href => "#tabs-3"} News 
      %li
        %a{:href => "#tabs-4"} Contact
    #tabs-1
      .span-4.ui-corner-all.home-callout
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce egestas porttitor mollis. Fusce scelerisque convallis libero vitae placerat.
      %div
        %p Code & coffee is an informal get together to write some code Thursday morning. There are no requirements other than the willingness to sit down, pair up, and learn something new. We're going with mornings because the evenings are full enough as it is. Why add to the chaos of user groups, soccer games, and lawn mowing?
        %p If you're interested in joining in, just show up. No invited needed, you don't need to RSVP, you just need a laptop. Coffee not provided, but it's just a few steps away. ;)
        %p Location will be updated in the posts below, feel free to drop a comment in if you're going to join us. Hope to see you there.
    #tabs-2
      %p Location, location, location
      %p Staufs, Grandview - the greatest location we have
      %p Toledo, Ohio - somewhere up there on Wednesdays
    #tabs-3
      %p We've been at this little shin-dig for over a year now, we've got a few locations going, and plenty of coders looking to sharpen their skills. So...
      %p Time to redo the Code and Coffee website! (This one here. The one with the canned CSS layout and the static first post hacked together in 4 hours running on Blogger.)
    #tabs-4
      %p email blankenburg
  %div
    %p &nbsp;
