#tab-wrapper.prepend-1.span-14.last
  #tabs
    %ul
      %li
        %a{:href => "#tabs-1"} Home
      %li
        %a{:href => "/location/list"} Locations
      %li
        %a{:href => "/posts/list"} News
      %li
        %a{:href => "#tabs-4"} Contact
    #tabs-1
      #tab-banner-image
        = image_tag("coffee_and_keyboard.png", :alt => "Caffeinated Coding")
      .span-5.ui-corner-all.home-callout
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        :javascript
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: '#codeandcoffee',
            interval: 6000,
            title: '#CodeAndCoffee',
            subject: '',
            width: 210,
            height: 240,
            theme: {
              shell: {
                background: '#8ec1da',
                color: '#ffffff'
              },
              tweets: {
                background: '#ffffff',
                color: '#444444',
                links: '#1985b5'
              }
            },
            features: {
              scrollbar: false,
              loop: true,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              toptweets: true,
              behavior: 'default'
            }
          }).render().start();

      %div
        %p Code & coffee is an informal get together to write some code Thursday morning. There are no requirements other than the willingness to sit down, pair up, and learn something new. We're going with mornings because the evenings are full enough as it is. Why add to the chaos of user groups, soccer games, and lawn mowing?
        %p If you're interested in joining in, just show up. No invited needed, you don't need to RSVP, you just need a laptop. Coffee not provided, but it's just a few steps away. ;)
        %p Location will be updated in the posts below, feel free to drop a comment in if you're going to join us. Hope to see you there.
    #tabs-4
      #tab-banner-image
        = image_tag("pen_and_paper.png", :alt => "Write us a message")
      - form_for :contact_email, :url => "home/contact_email", :id => "contact_email" do 
        %ul.form-list
          %li
            %label{ :for => "name" } Name:
            %input{ :type => "text", :id => "name", :name => "name" }
          %li
            %label{ :for => "email" } Email:
            %input{ :type => "text", :id => "id", :name => "email" }
          %li
            %label{ :for => "body" } Message:
            %textarea{ :id => "body", :name => "body" }
          %li
            %input{ :type => "submit", :id => "send_email", :class => "submit-button", :value => "Send us your message" }
  %div
    %p &nbsp;

:javascript
  $(function(){
    $("#tabs").tabs();
    $("input:submit").button();
  });

