#post
  %h1.title
    Polaris Pkwy
  %h2
    Thursdays at 7 AM
  #entry
    %a(title="Panera, Polaris Parkway"){:href => "http://www.panerabread.com/cafes/find.php?cafe=3009" } Panera, Polaris Parkway

  #entry
    %p The first Code and Coffee meet-ups took place on Polaris Pkwy. If you're in the northern parts of the greater Columbus metropolitan area, stop in to the Panera bread near Best Buy.
