#post
  %h1.title
    Grandview Staufs
  %h2
    Thursdays at 7 AM
  #entry
    %a(title=@title){:href => @link.href} Stuff

  #entry
    %p "Find me in app/views/home/staufs.haml"
    %p= Date.today
	
  #entry
    %p We’ve had a pretty good group of regulars here for a while, so if you’re in the area please drop in, there will be at least five people there coding away at something.
