%p We've been at this little shin-dig for over a year now, we've got a few locations going, and plenty of coders looking to sharpen their skills. So...
%p Time to redo the Code and Coffee website! (This one here. The one with the canned CSS layout and the static first post hacked together in 4 hours running on Blogger.)


%p AJAX