#post
  %h1.title
    Posts Index
  %h2
    Thursdays at 7 AM
  #entry
    %a(title="Staufs Grandview"){:href => "http://www.staufs.com/content.aspx?page=grandviewstore" } Stauf's in Grandview
	
  #entry
    %p We’ve had a pretty good group of regulars here for a while, so if you’re in the area please drop in, there will be at least five people there coding away at something.
