#post
  %h1.title
    Create a new Location
  #entry
    %form{ :action => "", :method => "post" }
      %fieldset
        .section
          %label{:for => "location_name"} Name:
          %br
          %input{:type => "text", :name => "name", :value => @location.name, :size => 50 } 
        .section
          %label{:for => "location_name"} Address:
          %br
          %input{:type => "text", :name => "name", :value => @location.street1, :size => 50 }
          %br
          %input{:type => "text", :name => "name", :value => @location.street2, :size => 50 } 
          %br
          %input{:type => "text", :name => "name", :value => @location.city, :size => 50 },  
          %input{:type => "text", :name => "name", :value => @location.state, :size => 2 } 
          %input{:type => "text", :name => "name", :value => @location.postalCode, :size => 10 } 
        .section
          %label{:for => "hashtag"} Twitter Hashtag:
          %br
          %input{:type => "text", :name => "hashtag", :value => @location.hashtag} 
        .section
          %input{:type => "submit", :value => "Submit"}