<div class="container">
  <header>
    <div class="main-logo">
      <img alt="Code and Coffee" src="/images/cnc_logo_70.png?1331764651" />
      <h2>Code &amp; Coffee</h2>
    </div>
    <h2>Get up. Get coffee. Get coding.</h2>
  </header>
  <nav></nav>
  <div id="main-content">
    <section id="what">
      <div>
        <h2>What is Code & Coffee?</h2>
        <p>Code & Coffee is an informal get together to write some code in the morning before the real job kicks in. There are no requirements other than the willingness to sit down, pair up, and learn something new. We're going with mornings because the evenings are full enough as it is. Why add to the chaos of user groups, soccer games, and lawn mowing?</p>
        <p>If you're interested in joining in, just show up. No invited needed, you don't need to RSVP, you just need a laptop. Coffee not provided, but it's just a few steps away. ;)</p>
        <p>Code & Coffee locations are available world wide, check the Locations below to see if there's one near you. If there isn't a location near you, start one! It's fun!</p>
      </div>
    </section>
    <section id="when"></section>
    <section id="where"></section>
    <section id="add">
      <div>
        <h2>Add a new location</h2>
        <p>Instructions on how to fork the repository and make pull requests can be found on <a href="https://help.github.com/articles/fork-a-repo">github</a>.
        <p>Once you have the repository forked, open the locations.yml file and follow the pattern of the other locations. Submit a pull request, and VOILA! New location!</p>
      </div>
    </section>
  </div>
  <footer></footer>
</div>
