<div class="container">
  <div class="hero-unit">
    <div class="main-logo">
      <img alt="Code and Coffee" src="/images/cnc_logo_70.png?1331764651" />
      <h2>Code &amp; Coffee</h2>
    </div>
    <h2>Get up. Get coffee. Get coding.</h2>
  </div>

  <div class="row">
    <div id="today" class="span4"></div>

    <div id="tomorrow" class="span4"></div>

    <div id="about" class="span4"></div>
  </div>

  <div class="row">
    <div id="locations" class="span4"></div>
    <div class="span4"></div>
    <div class="span4"></div>
  </div>
</div>
