#tab-banner-image
  = image_tag("newspaper.png", :alt => "Newsworthy things")
.post-list
  - @posts.each do |post|
    .one-post
      .title= render :inline => post.title if post.title 
      .body= render :inline => post.body if post.body
      .date-time= post.created_at.strftime("%a, %b %d, %Y")
