- @posts.each do |post|
  = link_to post.title, post_path(post)
  = link_to "Edit", edit_post_path(post)
  /
    This doesn't work; Rails 3 does depend on rails.js
    http://stackoverflow.com/questions/5525307/rails3-routing-error-method-delete-it-will-be-no-route-matches
    = link_to "Delete", post, :confirm => "Are you sure?", :method => :delete
  %br

%p
= link_to "New Post", new_post_path