@mixin red-drop-shadow {
  -webkit-box-shadow: #FF6B40 4px 4px 0px;
  -moz-box-shadow: #FF6B40 4px 4px 0px;
  box-shadow: #FF6B40 4px 4px 0px;
  behavior: url(/PIE/PIE.htc);
}

.main-logo {
  h2 {
    display: inline;
    font-size: 5.2em;
    font-family: 'Goudy Bookletter 1911', Times, serif;
    color: #665D51;
    text-shadow: 4px 4px 4px #D1C5A4;
  }

   img {
    background-color: white;
    padding: 8px;
    border: solid 4px #9BBAC3;
  }
}

#today {
  background-color: #9bbac3;
}

#tomorrow {
  background-color: #9faa80;
}

#about {
  background-color: #f5f3e6;
}

.col-div{
  margin: 8px;
}

.location-row {
  padding: 8px 0 36px 0;

  .city{
    font-size: 2.6em;
    font-weight: bold;
  }

  .coffeeshop{
    font-size: 1.2em;
    font-weight: bold;
  }

  .day-time{
    font-size: 1.2em;
  }
}
