@mixin red-drop-shadow {
  -webkit-box-shadow: #FF6B40 4px 4px 0px;
  -moz-box-shadow: #FF6B40 4px 4px 0px;
  box-shadow: #FF6B40 4px 4px 0px;
  behavior: url(/PIE/PIE.htc);
}

#welcome-wrap {
  .subtitle {
    text-align: center;
    font-size: 1.6em;
  }

  .official {
    font-family: 'Gill Sans', sans-serif;
    color: #665D51;
  }

  .main-logo {
    h2 {
      display: inline;
      font-size: 5.2em;
      margin: 0 120px 0 50px; 
      font-family: 'Goudy Bookletter 1911', Times, serif;
      color: #665D51;
      text-shadow: 4px 4px 4px #D1C5A4;
      vertical-align: middle;
    }

     img {
      background-color: white;
      padding: 8px;
      border: solid 4px #9BBAC3;
    }

    button {
      vertical-align: top;
    }
  }
}

.location-row {
  padding: 8px 0 36px 0;

  .city{
    font-size: 2.6em;
    font-weight: bold;
  }

  .coffeeshop{
    font-size: 1.2em;
    font-weight: bold;
  }

  .day-time{
    font-size: 1.2em;
  }
}
