// Place all the styles related to the Inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin drop-shadow {
  -webkit-box-shadow: #666 4px 4px 1px;
  -moz-box-shadow: #666 4px 4px 1px;
  box-shadow: #666 4px 4px 1px;
  behavior: url(/PIE/PIE.htc);
}

#contactUs {
  position: fixed;
  width: 840px;
  min-height: 250px;
  left: 50%;
  top: 208px;
  margin: 0px 0px 0px -420px;

  .inquiry-form-wrap {
    padding: 10px;

    .textarea {
      text-align: center;

      textarea {
        margin-top: 10px;
        width: 90%;
      }
    }

    .buttons {
      text-align: right;
      margin: 30px 20px 0px 0px;

      .btn {
        margin-left: 10px;
      }
    }
  }



}

