@mixin red-drop-shadow {
  -webkit-box-shadow: #FF6B40 4px 4px 0px;
  -moz-box-shadow: #FF6B40 4px 4px 0px;
  box-shadow: #FF6B40 4px 4px 0px;
  behavior: url(/PIE/PIE.htc);
}

#welcome-wrap {
  .subtitle {
    text-align: center;
    font-size: 1.6em;
  }

  .official {
    font-family: 'Gill Sans', sans-serif;
    color: #665D51;
  }

  .hero-actions {
    text-align: center;
    padding: 20px 10px 0px 0px;
  }
}
