!!! html
%html
  %head
    %title Zambia
    = stylesheet_link_tag :all 
    = javascript_include_tag :defaults 
    = csrf_meta_tag 
  %body
    #header
      %h1 code & coffee
    #sidebar
      %ul
        %li
          %h2 Details
          %ul
            %li What:  Drink coffee, write code
            %li Where:  A coffee shop with wifi
            %li When:  Thursday mornings
            %li Why:  Why not?
    #page
      #content
        = yield 
    #footer
      %hr
      Copyright &copy; 2010 code and coffee inc, all rights reserved
    
