!!! html
%html
  %head
    %title Zambia
    = stylesheet_link_tag "blueprint/screen.css", "south-street/jquery-ui-1.8.9.custom.css", "site.css"
    = javascript_include_tag :all
    = csrf_meta_tag
  
  %body
    #main.container
      .span-4 &nbsp;
      .span-16.ui-widget-content.ui-corner-all.prepend-top
        %h2.prepend-top.prepend-1.span-14.last Code &amp; Coffee
        #ajaxBusy.topright
          Loading...
        = yield
      .span-4.last
      .span-24.prepend-top.footer copyright &copy; 2011 Code and Coffee
    
