!!! html
%html
  %head
    %title Zambia
    = stylesheet_link_tag "blueprint/screen.css", "south-street/jquery-ui-1.8.9.custom.css", "site.css"
    = javascript_include_tag :all
    = csrf_meta_tag
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21195819-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

</script>
    
  %body
    #main.container
      .span-4 &nbsp;
      .span-16.ui-widget-content.ui-corner-all.prepend-top
        %h2.prepend-top.prepend-1.span-14.last Code &amp; Coffee
        #ajaxBusy.topright
          Loading...
        = yield
      .span-4.last
      .span-24.prepend-top.footer copyright &copy; 2011 Code and Coffee
    
